<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AssemblyList" value=""/>
    <add key="LogConfigurationFile" value=""/>
    <add key="NotificationClass" value=""/>
    <add key="TaskList" value="tasks.json"/>
    <add key="ConfigFilePath" value=""/>
    <add key="ExecutionFlag" value=""/>
    
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
